@tailwind base;


@layer base {
  body {
    @apply  font-primary text-black bg-gradient-to-r from-pink-500 to-purple-400 leading-relaxed;
  }
  section {
    @apply py-[30px] lg:py-[30px];
  }
  .title {
    @apply text-2xl lg:text-[35px] capitalize leading-tight font-semibold mb-4;
  }
  .subtitle {
    @apply text-[18px] lg:text-[20px] leading-relaxed mb-5 lg:mb-9;
  }
  .nav-link {
    @apply after:w-6 after:h-1 after:absolute after:left-0 after:-bottom-2 after:rounded-full after:bg-transparent after:hover:bg-[#b936f5] after:transition-all after:duration-300 relative;
  }
  .footerList{
    @apply p-0
  }
  .footerListItem{
    @apply mb-2 text-gray-500 capitalize hover:text-red-400 cursor-pointer
  }
  .task-btn{
    @apply cursor-pointer bg-transparent border-none outline-none
  }
}


@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

* {
  margin: 0;
  padding: 0;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #aaa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}